.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.images-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.images-container.left,
.images-container.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner-image {
  filter: grayscale(0.83);
  margin: -15px;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.banner-image:hover {
  filter: grayscale(0);
}

@media (max-width: 900px) {
  .images-row {
    display: none;
  }
}

@media (min-width: 900px) {
  .banner {
    flex-direction: row;
    padding-top: 200px;
    height: 400px;
  }

  .banner-title {
    font-size: 2rem;
    margin: 0 20px;
    transform: translateY(10px);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  //.banner-image {
    //width: 100px;
    //height: 100px;
  //}

  .images-container.left {
    position: absolute;
    left: 5%;
  }

  .images-container.right {
    position: absolute;
    right: 5%;
  }

  .banner-title-container {
    font-size: 2.5rem;
    padding: 15px 30px;
  }

  .banner-title-container {
    padding: 100px;
  }
}

//.banner-image {
//  filter: grayscale(0.83);
//  margin: -15px;
//  width: 8rem;
//  height: 8rem;
//  object-fit: cover;
//  transition: transform 0.3s ease, filter 0.3s ease;
//}
//
//.banner-image:hover {
//  filter: grayscale(0.3);
//  transform: rotate(var(--hover-rotate));
//
//}
//
//.banner-image {
//  transition: transform 0.1s ease;
//
//  &:hover {
//    transform: rotate(var(--hover-rotation));
//  }
//}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letters-row {
  display: flex;
  gap: 7.5px;
}


.banner-letter {
  text-transform: uppercase;
  border-radius: 15px;
  border-radius: 18px;
  font-size: 3.5rem;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  color: white;
  //color: #f1efec;
  width: 5.75rem;
  width: 5.5rem;
  height: 5.75rem;
  height: 5.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin: -10px;
}

.banner-letter {
  display: flex;
  align-items: center;
  justify-content: center;
}

