@import "src/config.scss";

div.vertical-timeline {
  //padding-bottom: 40vh;
  margin-top: 10vh;
}

.vertical-timeline-element--work .vertical-timeline-element-content {
  border-top: 5px solid green;
  border-radius: .5rem;
}

.vertical-timeline-element--graduation .vertical-timeline-element-content {
  border-top: 5px solid darkolivegreen;
  border-radius: .5rem;
}

.timeline-button {
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 500;
  font-family: $font;
  line-height: 1.4em;
  border-radius: 4px;
  text-transform: uppercase;
}

.timeline-website-link {
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.vertical-timeline-element {
  height: 30vh;
}

.cy-icon {
  margin-top: 12px;
  height: 38px;
  width: 38px;
}

.idiateh-icon {
  margin-top: 12px;
  height: 40px;
  width: 40px;
}

.graduation-icon {
  margin-top: 12px;
  height: 40px;
  width: 40px;
}

.mcdo-icon {
  margin-top: 16px;
  height: 33px;
  width: 33px;
}

.timeline-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
