@import "../../config.scss";


.card-container-section {
  overflow: clip;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
  padding-right: 20vw;
  padding-left: 20vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  position: relative;

  .card-rows-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 50px;
  }


  .projects-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    gap: 20px;
    text-align: center;

    .more-text {
      font-size: 1.2rem;
      color: #666;
      margin: 0;
    }


    .more-button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 25px;
      font-size: 7rem;

      font-weight: 600;
      background-color: black;
      color: white;
      border: none;
      border-radius: 0;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease, transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
      //border: 2px solid white;
      transform: rotate(-3deg);

      @media (max-width: 1024px) {
        font-size: 5rem;
        padding: 10px 20px;
      }

      @media (max-width: 768px) {
        font-size: 3rem;
        padding: 8px 18px;
        transform: rotate(-2deg);
      }

      @media (max-width: 480px) {
        font-size: 2.2rem;
        padding: 6px 15px;
        width: 90%;
        justify-content: center;
      }

      .text {
        color: white;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        mix-blend-mode: difference;
      }

      .button-icon {
        font-size: 5rem;
        transition: transform 0.3s ease;

        @media (max-width: 1024px) {
          font-size: 3.5rem;
        }

        @media (max-width: 768px) {
          font-size: 2.2rem;
        }

        @media (max-width: 480px) {
          font-size: 1.8rem;
        }
      }

      .wave-btn {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(/assets/wave3.svg) repeat-x;
        background-size: 200% 100%;
        top: 100%;
        left: 0;
        animation: wave-btn 2s linear infinite;
        transition: 0.5s;
        z-index: 0;
      }

      &::before {
        top: 0;
        left: 0;
        border-top: 2px solid #e8e8e8;
        border-left: 2px solid #e8e8e8;
      }

      &::after {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid #e8e8e8;
        border-right: 2px solid #e8e8e8;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 64px;
        height: 64px;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

        @media (max-width: 1024px) {
          width: 32px;
          height: 32px;
        }
        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }


      &:hover {
        background-color: black;
        transform: rotate(-3deg) scale(1.15);

        &::before,
        &::after {
          width: 100%;
          height: 100%;
        }

        .button-icon {
          transform: translateX(5px);
        }

        .wave-btn {
          top: 40%;
        }
      }

      &:active {
        transform: translateY(0);
      }
    }
  }

  .card-row {
    display: flex;
    width: 100%;
    gap: 20px;

    .card-wrapper {
      flex: 1;
      width: 100%;
      will-change: transform;
    }
  }
}

@media (max-width: 1400px) {
  .card-container-section {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@keyframes wave-btn {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}

@media (max-width: 1024px) {
  .card-container-section {
    .card-row {
      flex-direction: column;
      gap: 30px;
    }
  }
}
