@import "../../config.scss";

.card-container-section {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  .card-rows-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 50px;
  }

  .projects-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    gap: 20px;
    text-align: center;

    .more-text {
      font-size: 1.2rem;
      color: #666;
      margin: 0;
    }


  //  .contact-me-button {
  //    position: relative;
  //    text-decoration: none;
  //    color: #e8e8e8;
  //    padding: 15px 30px;
  //    width: 170px;
  //    height: 60px;
  //    font-weight: 600;
  //    font-size: 18px;
  //    cursor: pointer;
  //    border: none;
  //    overflow: hidden;
  //    transform: rotate(-2deg);
  //    //background: linear-gradient(-45deg, #e3e3e3 0%, #ff0f7b 100%);
  //    background-color: transparent;
  //    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  //  }
  //
  //  .contact-me-button span, .contact-me-button span::before {
  //    position: absolute;
  //    top: 0%;
  //    left: 0;
  //    width: 100%;
  //    height: 100%;
  //    display: flex;
  //    align-items: center;
  //    pointer-events: none;
  //    justify-content: center;
  //    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  //  }
  //
  //  .contact-me-button span::before {
  //    content: 'Hello!';
  //    top: -100%;
  //  }
  //
  //  .contact-me-button:before {
  //    top: 0;
  //    left: 0;
  //    border-top: 2px solid #e8e8e8;
  //    border-left: 2px solid #e8e8e8;
  //  }
  //
  //  .contact-me-button:after {
  //    bottom: 0;
  //    right: 0;
  //    border-bottom: 2px solid #e8e8e8;
  //    border-right: 2px solid #e8e8e8;
  //  }
  //
  //  .contact-me-button:after,
  //  .contact-me-button:before {
  //    content: "";
  //    position: absolute;
  //    width: 24px;
  //    height: 24px;
  //    pointer-events: none;
  //    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  //  }
  //
  //  //.contact-me-button:hover {
  //  //  box-shadow: 0 0 30px rgba(248, 155, 41, 0.4),
  //  //  0 0 30px rgba(255, 15, 123, 0.4);;
  //  //}
  //
  //  .contact-me-button:hover:before,
  //  .contact-me-button:hover:after {
  //    width: 100%;
  //    height: 100%;
  //  }
  //
  //  .contact-me-button:hover span {
  //    top: 100%;
  //  }
  //
  //  //.contact-me-button:active {
  //  //  scale: 0.95;
  //  //  box-shadow: 0 0 10px rgba(248, 155, 41, 0.4),
  //  //  0 0 10px rgba(255, 15, 123, 0.4);;
  //  //}
  //}

    .more-button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 25px;
      font-size: 7rem;

      font-weight: 600;
      background-color: black;
      color: white;
      border: none;
      border-radius: 0px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;
      border: 1px solid white;

      .text {
        color: white;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        mix-blend-mode: difference;
      }

      .button-icon {
        font-size: 5rem;
        transition: transform 0.3s ease;
      }

      .wave-btn {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(/assets/wave3.svg) repeat-x;
        background-size: 200% 100%;
        top: 100%;
        left: 0;
        animation: wave-btn 2s linear infinite;
        transition: 0.5s;
        z-index: 0;
      }

      //transform: translateY(-20px);

      &:hover {
        background-color: black;

        .button-icon {
          transform: translateX(5px);
        }

        .wave-btn {
          top: 40%;
        }
      }

      &:active {
        transform: translateY(0);
      }
    }
  }

  .card-row {
    display: flex;
    width: 100%;
    gap: 60px;

    .card-wrapper {
      flex: 1;
      width: 100%;
      will-change: transform;
    }
  }
}

@keyframes wave-btn {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}

@media (max-width: 1024px) {
  .card-container-section {
    .card-row {
      flex-direction: column;
      gap: 30px;
    }
  }
}
