@import "src/config.scss";


.button-container, .reverse-button-container  {
  justify-content: space-around;
  align-items: center;
  //background-color: #d9d4cd;
  //background-color: burlywood;
  display: flex;
  gap: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  //height: 100vh;
  max-width: 55%;
  width: 600px;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
  background-color: transparent;
}

@media(max-width: 1200px) {
  .button-container, .reverse-button-container  {
    max-width: 100%;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 5rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  //box-shadow: 5px 5px 0px black;
  //font-size: 1.3rem;
  //text-transform: uppercase;
  //letter-spacing: 0.1rem;
  transition: width 0.5s ease, height 0.5s ease, border-radius 0.7s ease,
  font-size 0.4s ease;
  user-select: none;
  width: 35rem;

  text-align: center;
  font-size: 2rem;
  //transition: transform 0.7s ease;
  font-family: $font;
  padding: 10px 20px;
  //font-weight: 600;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button.bigWidth {
  padding-bottom: 2rem;
  width: 35rem;
  //height: 28rem;
  height: 21.5rem;
  text-align: center;
  max-width: 92vw;
}

.button {
  -webkit-tap-highlight-color: transparent;
}
.button, .bigWidth {
}

@media(max-width: 900px) {
  .button-container {
    max-width: 100%;
  }

  .button, .bigWidth {
    padding-bottom: 2rem;
    width: 90vwm;
    max-width: 92vw;
  }
}


.reverse-button-container {
  flex-wrap: wrap-reverse;
}
