@import "src/config.scss";

.presentation-button-container {
  display: flex;
  z-index: 1;
  gap: 20px;
  padding-top: 100px;
  //height: 100vh;
  position: relative;
  background-color: transparent;
}

.cta {
  width: 82px;
  height: 82px;
  border-radius: 50px;
  border: 2px solid white;
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.7s;
  position: relative;
  overflow: hidden;
}

.cta:hover {
  width: 225px;
  //transition: width 0.7s;
  transition: width 0.65s;
}

.presentation-button-icon {
  width: 48px;
  height: 48px;
  //transition: transform 0.7s ease;
  transition: transform 0.5s ease;
  position: relative;
  z-index: 1;
}

.cta:hover .presentation-button-icon {
  transform: translateX(-65px);
}

.cta:hover .presentation-button-text {
  transform: translateX(30px);
}

.presentation-button-text {
  opacity: 0;
  //transition: opacity 0.5s;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 2rem;
  //transition: transform 0.7s ease;
  transition: transform 1.4s ease;
  font-family: $font;
  padding: 10px 20px;
  //font-weight: 600;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.cta:hover .presentation-button-text {
  opacity: 1;
  //transition: opacity 0.5s;
  transition: opacity 0.65s;
}

