@import '../../config';

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  width: 250px;
  height: 100px;
  background: #3f3f3f;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 8px;
  text-decoration: none;
}

.contact-button:hover {
  background-color: scale-color(#2d2d2d, $lightness: 5%);
  transform: translateY(-3px);
  box-shadow: 8px 8px 0 black;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-container {
  position: relative;

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 100%;
      position: relative;

      .close-modal-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #333;

        &:hover {
          color: #000;
        }
      }

      .contactForm {
        h2 {
          margin-bottom: 20px;
          font-size: 24px;
          color: #333;
        }

        form {
          display: flex;
          flex-direction: column;

          div {
            margin-bottom: 15px;

            label {
              display: block;
              margin-bottom: 5px;
              font-weight: bold;
              color: #555;
            }

            input, textarea {
              width: 100%;
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
              font-size: 16px;

              &:focus {
                outline: none;
                border-color: #383838;
              }
            }

            textarea {
              resize: vertical;
            }
          }

          #form-submit-btn {
            padding: 10px 20px;
            background-color: #383838;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #383838;
            }
          }
        }
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.wave-btn {
  position: absolute;
  width: 100%;
  height: 50%;
  background: url(../../public/assets/wave3.svg);
  background-size: 200% 100%;
  top: 100%;
  left: 0;
  animation: wave-btn 2s linear infinite;
  transition: 0.5s;
}


@keyframes wave-btn {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}

.contact-button:hover .wave-btn {
  top: 50%;
}

.text {
  position: relative;
  z-index: 1;
  font-family: $font;
  font-size: 1.75rem;
  font-weight: bold;
  mix-blend-mode: difference;
  color: white;
}
