@import "../../../config.scss";

.progress-container {
  width: 100%;
  height: 4px;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.progress-line {
  width: 100%;
  height: 100%;
  background-color: #f6f5f2;
  background-color: #868686;
  background-color: $component_color ;
  border-radius: 50px;
}
