@import "../../../config.scss";

.project-card__footer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 49px 5px 40px;
}

.project-card__button {
  display: flex;
  align-items: center;
  background: #333333;
  color: $component_color;
  text-decoration: none;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 1.25rem;
  border-radius: 7px;
  transition: background 0.3s;
  align-content: center;
  justify-content: center;
  &:hover {
    background-color: #383838;
  }
}

.project-card-link__icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
}

#github-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}


@media (max-width: 600px) {
  .project-card__footer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .project-card__footer {
    padding: 16px;
  }

  .project-card__button {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
