@import "../../../config.scss";

$btn_color: #4998ff;
$btn_color_hover: #f6f5f2;

$btn_bg_color: #3a3a3a;
$btn_bg_color_hover: #3a3a3a;


.project-card__footer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 49px 5px 40px;
}

.project-card-demo-btn {
  background: $btn_bg_color;
  color: #f6f5f2;
}

.project-card-gh-btn {
  background: $btn_bg_color;
  color: #f6f5f2;
}

.project-card-demo-btn, .project-card-gh-btn {
  font-family: $font;
  font-size: 1.05rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 12px;
  font-weight: 500;
  border-radius: 7px;
  transition: background 0.3s;
  align-content: center;
  justify-content: center;

  &:hover {
    color: $btn_color_hover;
    background-color: lighten($btn_bg_color_hover, 3%);
  }
}

.project-card-link__icon {
  margin-right: 4px;
  width: 24px;
  height: 24px;
  stroke: currentColor;
  fill: none;
  stroke-width: 1.75;
}

.project-card-github__icon {
  margin-right: 4px;
  width: 26px;
  height: 26px;
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 1;
}

//#github-icon {
//  margin-right: 4px;
//  height: 20px;
//  width: 20px;
//}


@media (max-width: 600px) {
  .project-card__footer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .project-card__footer {
    padding: 0;
  }

  .project-card-demo-btn, .project-card-gh-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
