@import "../../../config.scss";

.project-card__section {
  margin-bottom: 24px;
  padding-bottom: 29px;
}

.project-card__feature-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  line-height: 1.5;
}

.project-card__feature-item {
  margin-bottom: 6px;
  font-size: 1.25rem;
}
