@import "../../../config.scss";

$padding-bottom: 40px;
$iframe_radius: 7px;

.project-card {
  overflow: visible;
  position: relative;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 80vw;
  max-width: 90%;
  border-radius: 10px;
  transition: transform 0.2s;
  z-index: 10;
  font-family: $font;
  margin: auto auto 440px;
  background-color: rgba(0, 0, 0, 0.125);
}

.project-card__content {
  font-size: 1rem;
}

.line {
  border: none;
  height: 3px;
  background-color: $component_color;
  margin: 29px 0;
}

.demo-link-container {
  padding-bottom: 4px;
}

@media (max-width: 600px) {
  .project-card {
    padding-left: 2vw;
    padding-right: 2vw;
    width: 90%;
  }

  .project-card__content {
    padding: 0;
  }
}
