@import "config.scss";

#competences {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: visible;
}

#projects {
  background-color: #0a0a0a;
}






