@import "config.scss";

#competences {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 60vh;
  overflow: visible;
}

#projets {
  background-color: #2e2e2e;
}
