
#projets {
  width: 100vw;
  justify-content: center;
  display: flex;
  align-content: center;
  //height: 450px;
}

#competences {
  background-color: transparent;
  //height: 1900px;

}

#experiences {
  background-color: transparent;
}


.section {
  max-width: 100vw;
}
