$FOOTER-MARGIN: 14vh;

// Background colors
$background_color: #ede8df; // OK
$background_color_dark: #e6e1d5; // OK
$background_color_component: #e8e6e3;
$background_color_wave:#d9d4cd;

$COLOR: #f0dbbd;
$BACKGROUND_COLOR_BLACK: #383735;

// Text colors
$text_color_dark: #312920; // OK
$TEXT_COLOR_LIGHT: white;

$FONT_SIZE_SMALL: 1.3rem;
$FONT_SIZE_MEDIUM: 1.4rem;
$FONT_SIZE_LARGE: 1.7rem;

$FONT_SIZE_H1: 2.4rem;
$FONT_SIZE_H2: 1.7rem;
$FONT_SIZE_H1_RESPONSIVE: 2.2rem;
$FONT_SIZE_H2_RESPONSIVE: 1.7rem;

$font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
//OK

// Border radius
$BORDER_RADIUS_BUTTON: 20px;
$BORDER_RADIUS_DEFAULT: 8px;
$BORDER_RADIUS_COMPONENT: 4px;

// Shadows
$BOX_SHADOW: 0 4px 20px rgba(0, 0, 0, 0.3);
$BOX_SHADOW_HOVER: 0 8px 16px rgba(0, 0, 0, 0.2);


