@import "config.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: $background_color;
  margin: 0;
  font-family: $font;
  color: $text_color_dark;
}

h1, h2 {
  color: $text_color_dark;
}

.shadowed {
  box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.1);
}
